<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.tensorflow.lite.examples.demo">

    <uses-sdk />

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/tfe_od_app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.ObjectDetection">

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />



        <activity
            android:name="com.tensorflow.AVK.CS426.demo.MapsActivity"
            android:label="@string/title_activity_maps"/>
        <activity android:name="com.tensorflow.AVK.CS426.demo.HydrantActivity" />
        <activity android:name="com.tensorflow.AVK.CS426.demo.BrowseActivity" />
        <activity
            android:name="com.tensorflow.AVK.CS426.demo.SettingsActivity"
            android:label="@string/title_activity_settings" />
        <activity android:name="com.tensorflow.AVK.CS426.demo.MenuActivity" />
        <activity android:name="com.tensorflow.AVK.CS426.demo.LoginActivity" />
        <activity android:name="com.tensorflow.AVK.CS426.demo.DetectorActivity" android:label="@string/tfe_od_app_name"
            android:screenOrientation="fullSensor"/>
        <activity
            android:name="com.tensorflow.AVK.CS426.demo.MainActivity"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>



    </application>
</manifest>
